/* font */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html {
  overflow-x: hidden;
  font-family: sans-serif;
}

/* all fonts here */
.poppins {
  font-family: "Poppins", sans-serif;
  font-style: normal;
}
.montserrat {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
}
.roboto {
  font-family: "Roboto", sans-serif;
  font-style: normal;
}

/*custom scrollbar here */

.scrollbar::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.scrollbar::-webkit-scrollbar-track {
  border-radius: 100vh;
  background: transparent;
}

.scrollbar::-webkit-scrollbar-thumb {
  background: rgb(212, 212, 212);
  border-radius: 100vh;
}

.scrollbar::-webkit-scrollbar-thumb:hover {
  background: lightgray;
}
.scrollbar-sidebar::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.scrollbar-sidebar::-webkit-scrollbar-track {
  border-radius: 100vh;
  background: transparent;
}

.scrollbar-sidebar::-webkit-scrollbar-thumb {
  background: rgb(182, 182, 182);
  border-radius: 100vh;
}

.scrollbar-sidebar::-webkit-scrollbar-thumb:hover {
  background: lightgray;
}

/* navbar dropdown ends here */

/* shadow round */
.shadow-rounder::after {
  content: "";
  position: absolute;
  top: 0px;
  right: -15px;
  height: 15px;
  width: 15px;
  background-color: transparent;
  border-radius: 100vw 0px 0px 0px;
  box-shadow: -4px -4px 0px 3px white;
}

.login-button {
  background-color: rgb(229 231 235);
  transition: background-color 0.5s;
}

.login-button:hover {
  background-color: rgb(209 213 219);
}

.bg {
  background-color: rgba(255, 255, 255, 0.212);
}

.cta-design-5th-card::after {
  content: "";
  width: 25px;
  height: 25px;
  position: absolute;
  background-color: transparent;
  top: -4px;
  left: -4px;
  border-radius: 15px 0px 0px 0px;
  box-shadow: -8px -8px 0px white;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.modal-black-backdrop {
  background: rgba(0, 0, 0, 0.36);
}

.add-modal-black-backdrop {
  opacity: 0%;
  transition: all 1s ease-in-out;
  animation: 0.5s ease-in-out slowBackdrop forwards;
}

@keyframes slowBackdrop {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

.remove-modal-black-backdrop {
  opacity: 100%;
  transition: all 1s ease-in-out;
  animation: 0.5s ease-in-out slowBackdropDisappar forwards;
}

@keyframes slowBackdropDisappar {
  0% {
    opacity: 100%;
  }
  100% {
    opacity: 0%;
  }
}

.animate-modal-box {
  transform: translateY(-400px);
  transition: all 1s ease-out;
  animation: 0.3s ease-out slideFromTop forwards;
}

@keyframes slideFromTop {
  0% {
    transform: translateY(-100px) scale(50%);
  }
  100% {
    transform: translateY(0px) scale(100%);
  }
}

/* mobile sidebar code here */

:root {
  --bar-width: 30px;
  --bar-height: 3px;
  --bar-gap: 6px;
  --forground: #1a1a1a;
  --background: white;
  --hamburger-margin: 30px;
  --animation-timing: 200ms ease-out;
  --rotate-animation-timing: 300ms ease-in-out;
  --hamburger-height: calc(var(--bar-height) * 3 + var(--bar-gap) * 2);
}

.hamburger-menu {
  /* hamburger height x square root of 2 = hamburger-bar diagonal width */
  --x-width: calc(var(--hamburger-height) * 1.41421356237);
  display: flex;
  flex-direction: column;
  gap: var(--bar-gap);
  width: max-content;
  position: absolute;
  top: var(--hamburger-margin);
  right: var(--hamburger-margin);
  z-index: 10;
  cursor: pointer;
}

.hamburger-menu::before,
.hamburger-menu::after,
.hamburger-menu input {
  content: "";
  width: var(--bar-width);
  height: var(--bar-height);
  background-color: var(--forground);
  border-radius: 100vw;
  transform-origin: left center;
  transition: opacity var(--animation-timing), width var(--animation-timing),
    rotate var(--rotate-animation-timing),
    background-color var(--animation-timing);
}

.hamburger-menu input {
  appearance: none;
  margin: 0;
  padding: 0;
  outline: none;
  pointer-events: none;
}

.hamburger-menu:has(input:checked)::before {
  rotate: 45deg;
  width: var(--x-width);
  translate: 0 calc(var(--bar-height) / -2);
  background-color: var(--background);
}

.hamburger-menu:has(input:checked)::after {
  rotate: -45deg;
  width: var(--x-width);
  translate: 0 calc(var(--bar-height) / 2);
  background-color: var(--background);
}

.hamburger-menu input:checked {
  width: 0;
  opacity: 0;
}

.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 9;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  padding: 3rem 2rem;
  padding-top: calc(var(--hamburger-height) + var(--hamburger-margin) + 1rem);
  min-height: 100vh;
  width: 55%;
  background: var(--forground);
  color: var(--background);
  translate: 100%;

  transition: translate var(--rotate-animation-timing);
}

.hamburger-menu:has(input:checked) + .sidebar {
  translate: 0;
}

.sidebar-backdrop {
  background: #0000006c;
  backdrop-filter: blur(5px);
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
}

/* company slider code */
.slider {
  height: var(--height);
  overflow: hidden;
  mask-image: linear-gradient(to right, transparent, #000 10% 90%, transparent);
}

.slider .list {
  display: flex;
  width: 100%;
  min-width: calc(var(--width) * var(--quantity));
  position: relative;
}

.slider .list .item {
  height: var(--height);
  width: var(--width);
  position: absolute;
  left: 100%;
  cursor: pointer;
  transition: filter 0.3s;
  animation: autorun 10s linear infinite;
  animation-delay: calc((10s / var(--quantity)) * (var(--position) - 1));
}
.slider .list .item img {
  width: 100%;
  height: 100%; /* Ensure the image fills the item */
  object-fit: contain; /* Adjust the image's fit */
}

@keyframes autorun {
  from {
    left: 100%;
  }
  to {
    left: calc(var(--width) * -1);
  }
}

.slider:hover .item {
  animation-play-state: paused !important;
  filter: grayscale(1);
}

.slider .item:hover {
  filter: grayscale(0);
}

.expanded-max-height {
  max-height: 203px;
}

/* newsletter bg img */
.newsletter {
  background-image: linear-gradient(
      60deg,
      rgba(0, 0, 0, 0.692),
      rgba(0, 0, 0, 0.692)
    ),
    url("https://i.ibb.co/zGn4wrL/alejandro-escamilla-N7-Xod-Rrbz-S0.jpg");
}

.show-password-anim {
  width: 90%;
  max-width: 28px;
  cursor: pointer;
}

.text-container-createOne {
  position: relative;
  overflow: hidden;
}

.yellow-text-create-one {
  width: 0;
  white-space: nowrap;
  overflow: hidden;
  opacity: 0; /* Start invisible */
  transition: width 1s ease-in-out, opacity 0.5s ease-in-out;
}

.text-container-createOne:hover .yellow-text-create-one {
  width: 100%;
  opacity: 1; /* Fade in on hover */
}
.project-ps-title {
  height: 4rem;
  overflow: hidden;
  display: flex;
  gap: 1rem;
}

.project-ps-title span {
  display: inline-block;
  transform: translateY(100%); /* Start off-screen */
  opacity: 0;
  animation: slideUp 0.5s ease forwards;
}

/* Define keyframes for the slide-up effect */
@keyframes slideUp {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

/* Apply delays to each span to create the sequential effect */
.project-ps-title .text-1 {
  animation-delay: 0s;
}
.project-ps-title .text-2 {
  animation-delay: 0.5s;
}
.project-ps-title .text-3 {
  animation-delay: 1s;
}
.project-ps-title .text-4 {
  animation-delay: 1.5s;
}
.project-ps-title .text-5 {
  animation-delay: 2s;
}

.bg-disappear {
  opacity: 0;
  transition: opacity 2s ease-out;
}

.disappear {
  animation: fadeOutUp 0.5s ease forwards;
}

.help_T_pri_proj {
  opacity: 0;
  transition: opacity 0.5s ease;
}

.pri_proj_icon:hover .help_T_pri_proj {
  opacity: 1;
  pointer-events: auto;
}

@keyframes fadeOutUp {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(-100%);
    opacity: 0;
  }
}

.task-details-backdrop {
  background-color: rgba(0, 0, 0, 0.349);
  backdrop-filter: blur(3px);
  z-index: 1;
}

.task-details-sidebar {
  z-index: 100;
  position: absolute;
  animation: slidein 0.4s ease-out forwards; /* Adjusted duration and timing function */
}

@keyframes slidein {
  0% {
    top: 0;
    right: -340px;
  }
  100% {
    top: 0;
    right: 0;
  }
}

.members-container {
  --avatar-size: 40px;
  --column-size: calc(var(--avatar-size) / 2);
  display: grid;
  grid-template-columns: repeat(10, var(--column-size));
}

.arrow-shadow-test {
  box-shadow: -6px 6px 6px rgba(0,0,0,0.2);
}

